@import "tailwindcss";

/* Theme transition styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode specific styles */
.dark-theme a {
  color: var(--accent-color);
}


/* Custom scrollbar for light theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navbar-bg);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}